body { 
    font-family: Arial;
    font-weight: normal;
  	background-color: white;
	/* matlab */
  	margin:20px;
}

a:visited {
    color : #f08020;
    font-weight : none;
    text-decoration : none;
}
a:active {
    color : #f08020;
    text-decoration : none;
}
body a:hover {
    color : #f08020;
    text-decoration : underline;
}

a:link {
    color : #f08020;
    font-weight : none;
    text-decoration : none;
}


h1 {
  color:#f08020; 
  font-size: xx-large;
  text-align: left;
}

h2 {
  color: #000000;
  font-size: medium;
}



/* matlab specifics */

pre.codeinput {
  background: #EEEEEE;
  padding: 10px;
}
@media print {
  pre.codeinput {word-wrap:break-word; width:100%;}
} 

span.keyword {color: #0000FF}
span.comment {color: #228B22}
span.string {color: #A020F0}
span.untermstring {color: #B20000}
span.syscmd {color: #B28C00}

pre.codeoutput {
  color: #666666;
  padding: 10px;
}

pre.error {
  color: red;
}

p.footer {
  text-align: right;
  font-size: xx-small;
  font-weight: lighter;
  font-style: italic;
  color: gray;
}

/* MATLAB STYLE */
/* 
body {
  background-color: white;
  margin:10px;
}


p,h1,h2,div.content div {
}

p.footer {
  text-align: right;
  font-size: xx-small;
  font-weight: lighter;
  font-style: italic;
  color: gray;
}
*/